asgiref==3.12.1
Django==6.1
flake8==7.3.0
iniconfig==2.3.0
mccabe==0.7.0
packaging==26.3
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.1.1
pytest-django==4.13.0
sqlparse==0.5.5
