{% extends 'tasks/base.html' %}
{% load static %}


{% block body %}

    <div class="container mt-sm-5">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <form action="{% url 'tasks:home' %}" method="POST">
                    {% csrf_token %}
                    <h1>Tasks</h1>
                    <div class="input-group has-validation mb-sm-3">
                        <input type="text" class="form-control" placeholder="Type your task here" name="name"
                               aria-label="task" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Save</button>
                    </div>
                    <div class="form-text" id="basic-addon4">{{ form.name.errors }}</div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-sm-3">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                {% if pending_tasks.exists %}
                    <h2>Pending Tasks</h2>
                    {% for task in pending_tasks %}
                        <form action="{% url 'tasks:detail' task_id=task.id %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group has-validation mb-sm-3">
                                <input type="text" class="form-control" placeholder="Type your task here" name="name"
                                       aria-label="task" required="required" value="{{ task.name }}">
                                <input type="hidden" value="checked" name="done">
                                <button class="btn btn-success" type="submit">Mark as done</button>
                            </div>
                        </form>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container mt-sm-3">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                {% if done_tasks.exists %}
                    <h2>Tasks already done</h2>
                    {% for task in done_tasks %}
                        <form action="{% url 'tasks:detail' task_id=task.id %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group has-validation mb-sm-3">
                                <input type="text" class="form-control" placeholder="Type your task here" name="name"
                                       aria-label="task" required="required" value="{{ task.name }}">
                                <input type="hidden" value="checked" name="not done">
                                <button class="btn btn-warning" type="submit">Mark as not done</button>
                            </div>
                        </form>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}